* {
  box-sizing: border-box;
}

 body {
  background: #fafafa;
  font-family: -apple-system,
               BlinkMacSystemFont,
               "Segoe UI",
               Roboto,
               Oxygen,
               Ubuntu,
               Cantarell,
               "Open Sans",
               "Helvetica Neue",
               sans-serif;
  font-size: 16px;

}

.container {
  margin: 0 auto;
  max-width: 1140px;
}

input[type="text"] {
  display: inline-block;
  height: 40px;
  font-size: 16px;
  width: 300px;
  line-height: 40px;
  padding: 8px;
}

// .grid {
//   display: flex;
//   justify-content: space-between;
//   align-items: flex-start;
//   flex-wrap: wrap;
// }

.block {
  background: #fff;
  padding: 10px 20px;
  border-radius: 4px;
  box-shadow: 0px 0px 7px 1px rgba(0,0,0, 0.2);
  margin-bottom: 15px;
}

@media screen and (min-width: 640px) {
  .grid {
    display: flex;
    justify-content: space-between;
    // align-items: flex-start;
    flex-wrap: wrap;
  }
  .block {
    flex-basis: 18%;
  }
}

.block.today {
  flex-basis: 100%;
  display: flex;
  margin-bottom: 40px;
}
.wi {
  text-align: center;
  font-size: 4rem;
}
.wi:before {
  line-height: 92px;
  vertical-align: middle;
}
.today .wi {
  text-align: center;
  font-size: 6rem;
  margin: 0 30px 0 20px;
}
.today .wi:before {
  line-height: 144px;
}
#weather {

}